---
import { Code } from "astro/components";
import Layout from "../layouts/Base.astro";

const CODE = `zupanije.json
[
  {
    "id": 1,
    "naziv": "Zagrebačka"
  },
  {
    "id": 2,
    "naziv": "Krapinsko-zagorska"
  },
  ...
]
`;
---

<Layout title="Manual">
  <main>
    <div class="max-w-6xl mx-auto dark:text-white md:py-32 md:flex">
      <div class="p-8 md:w-1/2">
        <h1 class="text-6xl font-bold my-4">
          <span class="bg-clip-text bg-gradient-to-tr from-red-300 to-red-600 text-transparent"
            >cro</span
          >JSON
        </h1>
        <p class="text-2xl my-8">
          Kolekcija <b class="text-green-600 dark:text-green-400">JSON fileova</b> sa različitim informacijama
          o Hrvatskoj koji bi mogli zatrebati programerima.
        </p>
        <a
          href="/docs/get-started/introduction"
          class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded"
        >
          KOPIRAJ I KORISTI
        </a>
      </div>
      <div
        class="w-full p-8 md:w-1/2 [&_pre]:p-4 [&_pre]:rounded-2xl [&_pre]:shadow-xl [&_pre]:border-2 [&_pre]:border-green-500"
      >
        <Code code={CODE} lang="sh" />
      </div>
    </div>
    <div class="bg-green-700 dark:bg-zinc-800">
      <div class="max-w-6xl mx-auto md:py-16 p-8 text-center">
        <h1 class="text-white text-5xl font-bold mb-8">Koristi u svom projektu!</h1>

        <p class="text-gray-400 text-2xl text-center mb-16">Za sada imamo sljedeće podatke</p>
        <div class="md:flex md:justify-center space-y-8 md:space-y-0 md:gap-x-8 dark:text-white">
          <div>
            <div
              class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl min-w-[300px] w-full"
            >
              <h2 class="text-2xl font-bold">Županije</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Sve županije u Hrvatskoj sa dodanim ID-jem
              </p>
              <a
                href="/docs/data/zupanije"
                class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded"
              >
                PROVJERI
              </a>
            </div>
          </div>
          <div>
            <div
              class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl min-w-[300px] w-full"
            >
              <h2 class="text-2xl font-bold">Gradovi i naselja</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Svi gradovi i naselja u RH sa pripadnim poštanskim brojem i županijom
              </p>
              <a
                href="/docs/data/naselja"
                class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded"
              >
                PROVJERI
              </a>
            </div>
          </div>
          <div>
            <div
              class="bg-zinc-100 dark:bg-zinc-900 p-8 rounded-2xl shadow-xl min-w-[300px] w-full"
            >
              <h2 class="text-2xl font-bold">Uskoro...</h2>
              <p class="text-gray-600 dark:text-gray-400 my-4">
                Telefonski brojevi, bolja stranica za dokumentaciju
              </p>
              <a
                href="/docs/get-started/introduction#plan-za-budućnost"
                class="inline-block bg-green-700 hover:bg-green-800 text-white text-lg font-bold py-2 px-4 rounded"
              >
                TBD...
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
